# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
cyenv/

# Environment variables
.env
.env.*

# Django
db.sqlite3
*.sqlite3

# Django settings (only if you REALLY want to ignore it)
# Be careful: this can break your repo for others
umucyo_mvp/settings.py

# Static & media
staticfiles/
media/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

