{% extends 'web/base.html' %}

{% block title %}Email Sent - Umucyo MVP{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body text-center">
                <h4 class="card-title text-success">Check your inbox</h4>
                <p class="card-text">
                    We've emailed you instructions for setting your password.
                    You should be receiving them shortly.
                </p>
                <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}